doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Анкетирование
    // Bootstrap core CSS
    link(rel='stylesheet', href='../stylesheets/bootstrap.min.css')
    script(src='../javascripts/bootstrap.min.js')
    script(src='../javascripts/jquery-3.3.1.js')
    script(src='../javascripts/main.js')
    // Custom styles for this template
    link(href='../stylesheets/form-validation.css', rel='stylesheet')
    link(href='../stylesheets/style.css', rel='stylesheet')
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  body.bg-light
    .container
      .py-5.text-center
        img.d-block.mx-auto.mb-4(src='../survey.svg', alt='', width='72', height='72')
        h2 Анкетирование
        // <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      .row

        .col-md-12.order-md-1
          form.needs-validation(action='addData', method='post')
            .resume-block
              h3 Основная часть
              .basis-block
                .row
                  .col-md-4.mb-3
                    label(for='lastName') Фамилия
                    input#lastName.form-control(name='lastName' type='text', placeholder='', value='', required='')
                    .invalid-feedback
                      | Not Valid.
                  .col-md-4.mb-3
                    label(for='firstName') Имя
                    input#firstName.form-control(name='firstName' type='text', placeholder='', value='', required='')
                    .invalid-feedback
                      | Not Valid.
                  .col-md-4.mb-3
                    label(for='secondName') Отчество
                    input#secondName.form-control(name='secondName' type='text', placeholder='', value='', required='')
                    .invalid-feedback
                      | Not Valid.
                .row
                  .col-md-4.mb-3
                    label(for='gender') Пол
                    select#gender.custom-select.d-block.w-100(name='gender' required='')
                      option(value='Мужской') Мужской
                      option(value='Женский') Женский
                  .col-md-4.mb-3
                    label(for='age') Возраст
                    input#age.form-control(name='age' type='number', placeholder='', value='', required='')
                    .invalid-feedback
                      | Not Valid.
                  .col-md-4.mb-3
                    label(for='registration') Гражданство
                    select#registration.custom-select.d-block.w-100(name='registration' required='')
                      option(value='гражданство РФ') гражданство РФ
                      option(value='двойное гражданство (РФ и др.)') двойное гражданство (РФ и др.)
                      option(value='политический беженец (политическое убежище)') политический беженец (политическое убежище)
                      option(value='лицо без гражданство') лицо без гражданство
                      option(value='другое') другое
                .row
                  .col-md-9.mb-3
                    label(for='sp') Семейное положение
                    select#sp.form-control(name='sp')
                      option(value='замужем/женат', selected='selected') замужем/женат
                      option(value='вдова/вдовец') вдова/вдовец
                      option(value='не замужем/ холост') не замужем/ холост
                      option(value='в разводе') в разводе
                      option(value='сожительство') сожительство
                  .col-md-9.mb-3
                    label(for='childrenId') Дети (Пример заполнения М:9;Ж:2;)
                    input#childrenId.form-control(name="children" value="" type='text', placeholder='Если у вас есть дети заполните по форме( Пол ребенка:Возраст; ) Пример М:9;Ж:2;')
                    .invalid-feedback
                      | Not Valid.
              // Конец блока основная часть
              h3 Меняли ли вы...
              .change-block
                .row
                  .col-md-5.mb-3
                    input(name="change_0_0" value="Имя" style="display: none;")
                    label(for='change_0_1') Вы меняли имя?
                    select#change_1.custom-select.d-block.w-100(name='change_0_1' required='')
                      option(value='Да') Да
                      option(selected='', value='Нет') Нет
                    .invalid-feedback
                      | Not Valid.
                  .col-md-4.mb-3
                    label(for='change_0_2') Сколько раз?
                    input#change_2.form-control(name='change_0_2' type='number',value="0" placeholder='0')
                    .invalid-feedback
                      | Not Valid.
                .row
                  .col-md-5.mb-3
                    input(name="change_1_0" value="Фамилия" style="display: none;")
                    label(for='change_1_1') Вы меняли фамилию?
                    select#change_3.custom-select.d-block.w-100(name='change_1_1' required='')
                      option(value='Да') Да
                      option(selected='', value='Нет') Нет
                    .invalid-feedback
                      | Not Valid.
                  .col-md-4.mb-3
                    label(for='change_1_2') Сколько раз?
                    input#change_4.form-control(name='change_1_2' type='number',value="0" placeholder='0')
                    .invalid-feedback
                      | Not Valid.
                .row
                  .col-md-5.mb-3
                    input(name="change_2_0" value="Отчество" style="display: none;")
                    label(for='change_2_1') Вы меняли отчество?
                    select#change_5.custom-select.d-block.w-100(name='change_2_1' required='')
                      option(value='Да') Да
                      option(selected='', value='Нет') Нет
                    .invalid-feedback
                      | Not Valid.
                  .col-md-4.mb-3
                    label(for='change_2_2') Сколько раз?
                    input#change_6.form-control(name='change_2_2' type='number',value="0" placeholder='0')
                    .invalid-feedback
                      | Not Valid.
                .row
                  .col-md-5.mb-3
                    input(name="change_3_0" value="Дата рождения" style="display: none;")
                    label(for='change_3_1') Вы меняли дату рождения?
                    select#change_7.custom-select.d-block.w-100(name='change_3_1' required='')
                      option(value='Да') Да
                      option(selected='', value='Нет') Нет
                    .invalid-feedback
                      | Not Valid.
                  .col-md-4.mb-3
                    label(for='change_3_2') Сколько раз?
                    input#change_8.form-control(name='change_3_2' type='number',value="0" placeholder='0')
                    .invalid-feedback
                      | Not Valid.
                .row
                  .col-md-5.mb-3
                    input(name="change_4_0" value="Место регистрации" style="display: none;")
                    label(for='change_4_1') Вы меняли место регистрации?
                    select#change_9.custom-select.d-block.w-100(name='change_4_1' required='')
                      option(value='Да') Да
                      option(selected='', value='Нет') Нет
                    .invalid-feedback
                      | Not Valid.
                  .col-md-4.mb-3
                    label(for='change_4_2') Сколько раз?
                    input#change_10.form-control(name='change_4_2' type='number',value="0" placeholder='0')
                    .invalid-feedback
                      | Not Valid.
                .row
                  .col-md-5.mb-3
                    input(name="change_5_0" value="Место жительства" style="display: none;")
                    label(for='change_5_1') Вы меняли место жительства?
                    select#change_11.custom-select.d-block.w-100(name='change_5_1' required='')
                      option(value='Да') Да
                      option(selected='', value='Нет') Нет
                    .invalid-feedback
                      | Not Valid.
                  .col-md-4.mb-3
                    label(for='change_5_2') Сколько раз?
                    input#change_12.form-control(name='change_5_2' type='number',value="0" placeholder='0')
                    .invalid-feedback
                      | Not Valid.
                .row
                  .col-md-5.mb-3
                    input(name="change_6_0" value="Номер мобильного телефона" style="display: none;")
                    label(for='change_6_1') Вы меняли номер мобильного телефона?
                    select#change_13.custom-select.d-block.w-100(name='change_6_1' required='')
                      option(value='Да') Да
                      option(selected='', value='Нет') Нет
                    .invalid-feedback
                      | Not Valid.
                  .col-md-4.mb-3
                    label(for='change_6_2') Сколько раз?
                    input#change_14.form-control(name='change_6_2' type='number',value="0" placeholder='0')
                    .invalid-feedback
                      | Not Valid.
                .row
                  .col-md-5.mb-3
                    input(name="change_7_0" value="E-mail" style="display: none;")
                    label(for='change_7_1') Вы меняли e-mail?
                    select#change_15.custom-select.d-block.w-100(name='change_7_1' required='')
                      option(value='Да') Да
                      option(selected='', value='Нет') Нет
                    .invalid-feedback
                      | Not Valid.
                  .col-md-4.mb-3
                    label(for='change_7_2') Сколько раз?
                    input#change_16.form-control(name='change_7_2' type='number', value="0" placeholder='0')
                    .invalid-feedback
                      | Not Valid.
              // Конец блока меняли ли вы...
              h3 Водительское удостоверение
              .row.driver-block
                .col-md-5.mb-3
                  label(for='drive_0') Имеете ли вы водительское удостоверение?
                  select#drive_0.custom-select.d-block.w-100(required='', onchange='checkSelect(document.getElementById("drive_0").value)', name="drive")
                    option(value='Да') Да
                    option(selected='', value='Нет') Нет
                  .invalid-feedback
                    | Not Valid. 
                #innerDrive    
                  
              // Конец блока про водительское удостоверение

              .education-block
                h3 Базовое образование
                p
                  h6 Cреднее образование
                .custom-control
                  input#checkbox_0.custom-control-input(type='checkbox', value='Полное среднетехническое образование', onchange="checkBox('checkbox_at_0', this.checked, 'check_avr_0')")
                  label.custom-control-label(for='checkbox_0' style="margin-left: 25px;") Полное среднетехническое образование
                  #checkbox_at_0(style='display: none;')
                    label  Средний балл
                    input#check_avr_0.form-control(type='number')

                p
                  h6 Высшее образование
                .custom-control
                  input#checkbox_1.custom-control-input(type='checkbox', value='Бакалавриат', onchange="checkBox('checkbox_at_1', this.checked, 'check_avr_1')" )
                  label.custom-control-label(for='checkbox_1' style='margin-left: 25px;') Бакалавриат
                  #checkbox_at_1(style='display: none;')
                    label  Средний балл
                    input#check_avr_1.form-control(type='number')
                .custom-control
                  input#checkbox_2.custom-control-input(type='checkbox', value='Магистратура', onchange="checkBox('checkbox_at_2', this.checked, 'check_avr_2')" )
                  label.custom-control-label(for='checkbox_2' style="margin-left: 25px;") Магистратура
                  #checkbox_at_2(style='display: none;')
                    label  Средний балл
                    input#check_avr_2.form-control(type='number')
                .custom-control
                  input#checkbox_3.custom-control-input(type='checkbox', value='Специалитет', onchange="checkBox('checkbox_at_3', this.checked, 'check_avr_3')" )
                  label.custom-control-label(for='checkbox_3' style="margin-left: 25px;") Специалитет
                  #checkbox_at_3(style='display: none;')
                    label  Средний балл
                    input#check_avr_3.form-control(type='number')

                p
                  h6 Направление подготовки
                .custom-control
                  input#checkbox_4.custom-control-input(type='checkbox', value='Гуманитарное' )
                  label.custom-control-label(for='checkbox_4' style='margin-left: 25px;') Гуманитарное
                  
                .custom-control
                  input#checkbox_5.custom-control-input(type='checkbox', value='Педагогическое' )
                  label.custom-control-label(for='checkbox_5' style="margin-left: 25px;") Педагогическое
                  
                .custom-control
                  input#checkbox_6.custom-control-input(type='checkbox', value='В области управления' )
                  label.custom-control-label(for='checkbox_6' style="margin-left: 25px;") В области управления

                .custom-control
                  input#checkbox_7.custom-control-input(type='checkbox', value='Управление проектами' )
                  label.custom-control-label(for='checkbox_7' style="margin-left: 25px;") Управление проектами

                .custom-control
                  input#checkbox_8.custom-control-input(type='checkbox', value='Техническое' )
                  label.custom-control-label(for='checkbox_8' style="margin-left: 25px;") Техническое

                p
                  h6 Ученая степень
                .custom-control
                  input#checkbox_9.custom-control-input(type='checkbox', value='Кандитат наук' )
                  label.custom-control-label(for='checkbox_9' style='margin-left: 25px;') Кандитат наук
                  
                .custom-control
                  input#checkbox_10.custom-control-input(type='checkbox', value='Доктор наук' )
                  label.custom-control-label(for='checkbox_10' style="margin-left: 25px;") Доктор наук
                  
                .custom-control
                  input#checkbox_11.custom-control-input(type='checkbox', value='PhD' )
                  label.custom-control-label(for='checkbox_11' style="margin-left: 25px;") PhD
                p
                  h6 Проходили ли вы профессиональную переподготовку?
                .custom-control
                  select#prof.custom-select.d-block.w-100(style='margin-bottom: 20px;' onchange='check(this.value)')
                    option(value='Да') Да
                    option(value='Нет', selected='selected') Нет
                  #hide(style="display: none;")
                    p
                      h6 По какому направлению
                    .custom-control
                      input#prof_0.custom-control-input( type='checkbox', value='Гуманитарное' )
                      label.custom-control-label(for='prof_0' style="margin-left: 25px;") Гуманитарное
                      
                    .custom-control
                      input#prof_1.custom-control-input( type='checkbox', value='Педагогическое' )
                      label.custom-control-label(for='prof_1' style="margin-left: 25px;") Педагогическое
                      
                    .custom-control
                      input#prof_2.custom-control-input( type='checkbox', value='В области управления' )
                      label.custom-control-label(for='prof_2' style="margin-left: 25px;") В области управления
    
                    .custom-control
                      input#prof_3.custom-control-input( type='checkbox', value='Управление проектами' )
                      label.custom-control-label(for='prof_3' style="margin-left: 25px;") Управление проектами

                    .custom-control
                      input#prof_4.custom-control-input( type='checkbox', value='Техническое' )
                      label.custom-control-label(for='prof_4' style="margin-left: 25px;") Техническое

              // Конец блока про образование
              p
                h3 Отношение к воинской обязанности
              .row.military-block
                .col-md-6.mb-3
                  label(for='militarySelectId') Отношение к воинской обязанности
                  select#militarySelectId.custom-select.d-block.w-100(name='militarySelect', onchange='military(this.value)')
                    option(value='Невоеннообязанный', selected='selected') Невоеннообязанный
                    option(value='Военнообязанный') Военнообязанный
                #notMilitary.col-md-6.mb-3
                  label(for='notMilitarySelectId') По какой причине?
                  select#notMilitarySelectId.form-control(name='notMilitarySelect')
                    option(value='нет', selected='') Выберети из списка...
                    option(value='по медицинским показателям') по медицинским показателям
                    option(value='наличие непогашенной судимости') наличие непогашенной судимости
                    option(value='другое') другое
                #yesMilitary.col-md-6.mb-3(style='display: none;')
                  div
                    label(for='yesMilitarySelectId') Военнообязанный
                    select#yesMilitarySelectId.form-control(name='yesMilitarySelect', onchange='militaryAge(this.value)')
                      option(value='нет', selected='') Выберети из списка...
                      option(value='прошедший военную службу по контракту') прошедший военную службу по контракту
                      option(value='прошедшие военную службу') прошедшие военную службу
                      option(value='прошедшие альтернативную гражданскую службу') прошедшие альтернативную гражданскую службу
                      option(value='призывного возраста') призывного возраста
                      option(value='другое') другое
                #yesMilitaryRankId.col-md-6.mb-3(style='display: none;')
                  label(for='yesMilitaryRankSelectId') Воинское звания
                  select#yesMilitaryRankSelectId.form-control(name='yesMilitaryRankSelect')
                    option(value='нет', selected='') Выберети из списка...
                    option(value='солдаты/матросы') солдаты/матросы
                    option(value='сержанты/старшины') сержанты/старшины
                    option(value='прапорщики/мичманы') прапорщики/мичманы
                    option(value='младший офицерский состав') младший офицерский состав
                    option(value='Старший офицерский состав') Старший офицерский состав
                    option(value='Высший офицерский состав') Высший офицерский состав
                
              // Конец военного блока
              h3 Иностранные языки
              .row.languages-block
                .col-md-12
                  a.btn.btn-primary.add-language-link(href='#', style='margin-bottom: 10px;')
                    i.fa.fa-plus(aria-hidden='true')
                    |  Добавить
                  #language_items
                    #language_item_1.language-item
                      .row
                        .form-group.label-inline.col-md-6
                          label(for='language_name_id_1') Язык
                          select#language_name_id_1.form-control.language_name.error-item(name='languages_name_1', style='padding-left: 220px;')
                            option(value='') ---
                            option(value='Английский язык') Английский язык
                            option(value='Китайский язык') Китайский язык
                            option(value='Немецкий язык') Немецкий язык
                            option(value='Французский язык') Французский язык
                            option(value='other') Другой
                        .form-group.col-md-6.label-inline(style='display: none;')
                          label(for='language_id_other_1') Свой вариант
                          input#language_id_other_1.form-control.action-fo(maxlength='191', type='text', name='languages_name_other_1', value='')
                      .row
                        .form-group.label-inline.col-md-6
                          label(for='language_level_id_1') Уровень владения языком
                          select#language_level_id_1.form-control.error-item(name='languages_level_1', style='padding-left: 220px;')
                            option(value='') ---
                            option(value='Начальный') Начальный
                            option(value='Средний') Средний
                            option(value='Продвинутый') Продвинутый
                            option(value='Свободно владею') Свободно владею
                      .row
                        .form-group.col-md-6
                          label(for='language_level_id_2') Шкала уровней владения иностранными языками по системе CEFR
                          select#languages_level_id_2.form-control.error-item(name='languages_level_2', style='padding-left: 220px;')
                            option(value='') ---
                            option(value='С2') С2
                            option(value='С1') С1
                            option(value='B2') B2
                            option(value='B1') B1
                            option(value='A2') A2
                            option(value='A1') A1
                      script.
                        $(document).on('change', '.language_name', function(){
                        if($(this).val() == 'other'){
                        $(this).parent('div').next('div').css('display', 'block');
                        }else{
                        $(this).parent('div').next('div').css('display', 'none');
                        $(this).parent('div').next('div').find('input').val('');
                        }
                        });
                      <a class="language-item-delete" rel="1" href="#"><i class="fa fa-trash" aria-hidden="true"></i> Удалить</a>
                      // Конец языкового блока
                      h3 Учёная степень
                      .row.academic-degree-block
                        .col-md-12
                          // <a href="#" class="btn btn-primary academic-degree-link"><i class="fa fa-plus" aria-hidden="true"></i> Добавить</a>
                          #academic_degree_items
                            #academic_degree_item_1.academic-degree-item
                              .row
                                .form-group.label-inline.col-md-6
                                  label(for='academic_degree_doc_id_1') Доктор наук
                                  select#academic_degree_doc_id_1.form-control.academic_degree_doc(name='academic_degree_doc_1', style='padding-left: 150px;')
                                    option(value='', disabled='', selected='') ---
                                    option(value='архитектурных наук') архитектурных наук
                                    option(value='технических наук') технических наук
                                    option(value='физико-математических') физико-математических
                                    option(value='ветеринарных наук') ветеринарных наук
                                    option(value='медицинских наук') медицинских наук
                                    option(value='биологических наук') биологических наук
                                    option(value='географических наук') географических наук
                                    option(value='геолого – минералогических наук') геолого – минералогических наук
                                    option(value='сельскохозяйственные науки') сельскохозяйственные науки
                                    option(value='химических наук') химических наук
                                    option(value='военных наук') военных наук
                                    option(value='искусствоведения') искусствоведения
                                    option(value='исторических наук') исторических наук
                                    option(value='культурологии') культурологии
                                    option(value='политологических наук') политологических наук
                                    option(value='психологических наук') психологических наук
                                    option(value='социологических наук') социологических наук
                                    option(value='филологических наук') филологических наук
                                    option(value='философских наук') философских наук
                                    option(value='экономических наук') экономических наук
                                    option(value='юридических наук') юридических наук
                                    option(value='педагогических наук') педагогических наук
                                .form-group.label-inline.col-md-6
                                  label(for='academic_degree_candidate_id_1') Кандидат наук
                                  select#academic_degree_candidate_id_1.form-control.action-change(name='academic_degree_candidate_1', style='padding-left: 150px;')
                                    option(value='', disabled='', selected='') ---
                                    option(value='архитектурных наук') архитектурных наук
                                    option(value='технических наук') технических наук
                                    option(value='физико-математических') физико-математических
                                    option(value='ветеринарных наук') ветеринарных наук
                                    option(value='медицинских наук') медицинских наук
                                    option(value='биологических наук') биологических наук
                                    option(value='географических наук') географических наук
                                    option(value='геолого – минералогических наук') геолого – минералогических наук
                                    option(value='сельскохозяйственные науки') сельскохозяйственные науки
                                    option(value='химических наук') химических наук
                                    option(value='военных наук') военных наук
                                    option(value='искусствоведения') искусствоведения
                                    option(value='исторических наук') исторических наук
                                    option(value='культурологии') культурологии
                                    option(value='политологических наук') политологических наук
                                    option(value='психологических наук') психологических наук
                                    option(value='социологических наук') социологических наук
                                    option(value='филологических наук') филологических наук
                                    option(value='философских наук') философских наук
                                    option(value='экономических наук') экономических наук
                                    option(value='юридических наук') юридических наук
                                    option(value='педагогических наук') педагогических наук
                              // <a class="academic-degree-item-delete" rel="1" href="#"><i class="fa fa-trash" aria-hidden="true"></i> Удалить</a>
                              // Конец блока ученной степени
                              h3 Опыт работы
                              .row.work_experience-block
                                .col-md-12
                                  // <a href="#" class="btn btn-primary work_experience-link"><i class="fa fa-plus" aria-hidden="true"></i> Добавить</a>
                                  #work_experience_items
                                      #work_experience_item_1.work_experience-item
                                        .form-group.label-inline.col-md-6(style='padding-left: 0px;')
                                          label(for='work_experience_id') Имеется ли у вас опыт работы?
                                          select#work_experience_id.form-control.work_experience(name='work_experience', style='padding-left: 350px;')
                                            option(value='нет', selected='selected') нет
                                            option(value='да') да
                              // <a class="academic-degree-item-delete" rel="1" href="#"><i class="fa fa-trash" aria-hidden="true"></i> Удалить</a>
                              // Конец блока про опыт
                              h3 Стаж
                              .row.experience-block
                                .col-md-12
                                  // <a href="#" class="btn btn-primary experience-link"><i class="fa fa-plus" aria-hidden="true"></i> Добавить</a>
                                  #experience_items
                                    #experience_item_1.experience-item
                                      .row
                                        .form-group.label-inline.col-md-6
                                          label(for='experience_id_1') Общий стаж
                                          select#experience_id_1.form-control.experience(name='experience_1', style='padding-left: 220px;')
                                            option(value='0', selected='selected') нет
                                            option(value='1') 1 год
                                            option(value='2') 2 года
                                            option(value='3') 3 года
                                            option(value='4') 4 года
                                            option(value='5') 5 лет
                                            option(value='6') 6 лет
                                            option(value='7') 7 лет
                                            option(value='8') 8 лет
                                            option(value='9') 9 лет
                                            option(value='10') Более 10 лет
                                        .form-group.label-inline.col-md-6
                                          label(for='experience_id_2') По специальности
                                          select#experience_id_2.form-control.action-change(name='experience_2', style='padding-left: 220px;')
                                            option(value='0', selected='selected') нет
                                            option(value='1') 1 год
                                            option(value='2') 2 года
                                            option(value='3') 3 года
                                            option(value='4') 4 года
                                            option(value='5') 5 лет
                                            option(value='6') 6 лет
                                            option(value='7') 7 лет
                                            option(value='8') 8 лет
                                            option(value='9') 9 лет
                                            option(value='10') Более 10 лет
                                        .form-group.label-inline.col-md-6
                                          label(for='experience_id_3') Управленческий стаж
                                          select#experience_id_3.form-control.action-change(name='experience_3', style='padding-left: 220px;')
                                            option(value='0', selected='selected') нет
                                            option(value='1') 1 год
                                            option(value='2') 2 года
                                            option(value='3') 3 года
                                            option(value='4') 4 года
                                            option(value='5') 5 лет
                                            option(value='6') 6 лет
                                            option(value='7') 7 лет
                                            option(value='8') 8 лет
                                            option(value='9') 9 лет
                                            option(value='10') Более 10 лет
                                        .form-group.label-inline.col-md-6
                                          label(for='experience_id_4') Педагогический стаж
                                          select#experience_id_4.form-control.action-change(name='experience_4', style='padding-left: 220px;')
                                            option(value='0', selected='selected') нет
                                            option(value='1') 1 год
                                            option(value='2') 2 года
                                            option(value='3') 3 года
                                            option(value='4') 4 года
                                            option(value='5') 5 лет
                                            option(value='6') 6 лет
                                            option(value='7') 7 лет
                                            option(value='8') 8 лет
                                            option(value='9') 9 лет
                                            option(value='10') Более 10 лет
                                        .form-group.label-inline.col-md-6
                                          label(for='experience_id_5') Управление проектами
                                          select#experience_id_5.form-control.action-change(name='experience_5', style='padding-left: 220px;')
                                            option(value='0', selected='selected') нет
                                            option(value='1') 1 год
                                            option(value='2') 2 года
                                            option(value='3') 3 года
                                            option(value='4') 4 года
                                            option(value='5') 5 лет
                                            option(value='6') 6 лет
                                            option(value='7') 7 лет
                                            option(value='8') 8 лет
                                            option(value='9') 9 лет
                                            option(value='10') Более 10 лет
                                        .form-group.label-inline.col-md-6
                                          label(for='experience_id_6') Не по специальности
                                          select#experience_id_6.form-control.action-change(name='experience_6', style='padding-left: 220px;')
                                            option(value='0', selected='selected') нет
                                            option(value='1') 1 год
                                            option(value='2') 2 года
                                            option(value='3') 3 года
                                            option(value='4') 4 года
                                            option(value='5') 5 лет
                                            option(value='6') 6 лет
                                            option(value='7') 7 лет
                                            option(value='8') 8 лет
                                            option(value='9') 9 лет
                                            option(value='10') Более 10 лет
                                        .form-group.label-inline.col-md-6
                                          label(for='experience_id_7') Рабочие специальности
                                          select#experience_id_7.form-control.action-change(name='experience_7', style='padding-left: 220px;')
                                            option(value='0', selected='selected') нет
                                            option(value='1') 1 год
                                            option(value='2') 2 года
                                            option(value='3') 3 года
                                            option(value='4') 4 года
                                            option(value='5') 5 лет
                                            option(value='6') 6 лет
                                            option(value='7') 7 лет
                                            option(value='8') 8 лет
                                            option(value='9') 9 лет
                                            option(value='10') Более 10 лет
                                      // <a class="academic-degree-item-delete" rel="1" href="#"><i class="fa fa-trash" aria-hidden="true"></i> Удалить</a>
                                      // Конец блока про стаж
                                      hr.mb-4
                                      button#submit.btn.btn-primary.btn-lg.btn-block(type='submit') Отправить данные
      
      footer.my-5.pt-5.text-muted.text-center.text-small
        p.mb-1 © 2017-2018 Burning Knight
        ul.list-inline
          li.list-inline-item
            a(href='#') Privacy
          li.list-inline-item
            a(href='#') Terms
          li.list-inline-item
            a(href='#') Support
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script.
      window.jQuery || document.write('<script src="../javascripts/vendor/jquery-slim.min.js"><\\/script>')
    script(src='../javascripts/vendor/popper.min.js')
    script(src='../javascripts/bootstrap.min.js')
    script(src='../javascripts/vendor/holder.min.js')
    
    script.
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
      'use strict';
      window.addEventListener('load', function() {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
      if (form.checkValidity() === false) {
      event.preventDefault();
      event.stopPropagation();
      }
      form.classList.add('was-validated');
      }, false);
      });
      }, false);
      })();
