doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Ошибка регистрации
    // Bootstrap core CSS
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='../stylesheets/cover.css')
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-153501513-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-153501513-1');
  block content
