doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Ошибка регистрации
    // Bootstrap core CSS
    link(rel='stylesheet', href='../stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='../stylesheets/cover.css')
  block content
