doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Checkout
    // Bootstrap core CSS
    link(rel='stylesheet', href='../stylesheets/bootstrap.min.css')
    script(src='../javascripts/bootstrap.min.js')
    script(src='../javascripts/jquery-3.3.1.js')
    // Custom styles for this template
    link(href='../stylesheets/form-validation.css', rel='stylesheet')
    link(href='../stylesheets/style.css', rel='stylesheet')
  body.bg-light
    .container
      .py-5.text-center
        img.d-block.mx-auto.mb-4(src='../survey.svg', alt='', width='72', height='72')
        h2 Данные были успешно записаны, спасибо за участие!
        a(href='/') Вернутся на главную 
        

      footer.my-5.pt-5.text-muted.text-center.text-small
        p.mb-1 © 2017-2018 Burning Knight
        ul.list-inline
          li.list-inline-item
            a(href='#') Privacy
          li.list-inline-item
            a(href='#') Terms
          li.list-inline-item
            a(href='#') Support
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script.
      window.jQuery || document.write('<script src="../javascripts/vendor/jquery-slim.min.js"><\\/script>')
    script(src='../javascripts/vendor/popper.min.js')
    script(src='../javascripts/bootstrap.min.js')
    script(src='../javascripts/vendor/holder.min.js')
