doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Начальная страница
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-153501513-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-153501513-1');
    // Bootstrap core CSS
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    // Custom styles for this template
    link(href='../stylesheets/form-validation.css', rel='stylesheet')
    link(href='../stylesheets/style.css', rel='stylesheet')
    link(href='../stylesheets/signin.css', rel='stylesheet')
    // ===============================================================================================
    link(rel='icon', type='image/png', href='images/icons/favicon.ico')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='../fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='../fonts/iconic/css/material-design-iconic-font.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='../vendor/animate/animate.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='../vendor/css-hamburgers/hamburgers.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='../vendor/animsition/css/animsition.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='../vendor/select2/select2.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='../vendor/daterangepicker/daterangepicker.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='../css/util.css')
    link(rel='stylesheet', type='text/css', href='../css/main.css')
    // ===============================================================================================


.limiter
  .container-login100
    .wrap-login100
      form.login100-form.validate-form(method="post" action="/signin")
        span.login100-form-title.p-b-26
          | Вход
        //span.login100-form-title.p-b-48
        //  i.zmdi.zmdi-sign-in
        #error(style="color: red;font-size: .9rem;text-align: center;margin-bottom: 20px;")
        .wrap-input100.validate-input(data-validate='Valid email is: a@b.c')
          input#mail.input100(type='text', name='email')
          span.focus-input100(data-placeholder='Email')
        .wrap-input100.validate-input(data-validate='Enter password')
          span.btn-show-pass
            i.zmdi.zmdi-eye
          input#password.input100(type='password', name='password', required='')
          span.focus-input100(data-placeholder='Password')
        .container-login100-form-btn
          .wrap-login100-form-btn
            .login100-form-bgbtn
            button#buttonSignUp.login100-form-btn
              | Вход
        .text-center.p-t-20
          span.txt3.text-muted
            | Нет аккаунта?
          a.txt3(href='./signup')
            |  Регистрация
          p.mt-1.mb-3.text-muted &copy; 2017-2020
      
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script.
      window.jQuery || document.write('<script src="/js/jquery.min.js"><\\/script>')
    script(src='/js/bootstrap.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/holder.min.js')
    script(src='../javascripts/reg.js')

    // ===============================================================================================
    script(src='../vendor/jquery/jquery-3.2.1.min.js')
    // ===============================================================================================
    script(src='../vendor/animsition/js/animsition.min.js')
    script(src='../vendor/select2/select2.min.js')
    // ===============================================================================================
    script(src='../vendor/daterangepicker/moment.min.js')
    script(src='../vendor/daterangepicker/daterangepicker.js')
    // ===============================================================================================
    script(src='../vendor/countdowntime/countdowntime.js')
    // ===============================================================================================
    script(src='../js/main.js')
    script(src='../javascripts/error.js')
    script(src='../javascripts/googleAnal.js')

    script.
      throwError('#{msg}');
       
