doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Тестирование
    // Bootstrap core CSS
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    // Custom styles for this template
    link(href='/stylesheets/form-validation.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/stylesheets/quiz.css', rel='stylesheet')
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-153501513-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-153501513-1');
  body.bg-light
    
    .container
    h1#testName(style="text-align: center;")
    div#timer
    div#comment(style="width: 1280px; text-align: center; margin: 50px auto")
    .quiz-container
      #quiz
    .quiz-btn-container.mt-5#quiz-btn-container
    #results
    #info
    form(id="form" action='setDataTest', method='post' style="display: none")
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script.
      window.jQuery || document.write('<script src="/js/jquery.min.js"><\\/script>')
    script(src='/js/bootstrap.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/holder.min.js')

    script(src='/javascripts/testViewController.js')
    script(src='/javascripts/jquery.simple.timer.js')
    script(src='/javascripts/jquery.mask.js')
    
    script.
        //printTest('#{json}', '#{id}');
        var qwe = !{json};
        checkType(qwe, '#{id}');
        
        

