.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.test-item .text {
  background-color: #55595c;
  color: #eceeef;
  font-weight: bold;
  font-family: Arial, Helvetica, Open Sans, sans-serif, monospace;
  font-size: 17pt;
  text-align: center;
  min-height: 225px;
  display: flex;
  align-items: center;
 }
 
 .test-item .text p {
  margin: 0;
 }