.label-inline label {
  color: #999;
  font-weight: normal;
  padding: 7px 7px 7px 13px;
  position: absolute;
  z-index: 10;
}
.resume-block h3{
  margin: 0 0 20px 0;
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid #CCC;
}